{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>

    <p></p>
    <h3>
        Our Mission 
    </h3>
    <p>
        We at ConectU aim towards having students from all walks of life be able to communicate and share views, values and ideas. The social environment may be clustered with over stimulation of media and untreatable content. However, the ConnectU platform is geared towards nullifying the effects of extraneous components of a social media platform. 
        
    </p>

    <h3>Our Culture</h3>
    <p>The ConnectU team is based upon communication, synchronization and comradery. The overall mantra of the ConnectU group is to have an open minded opinion and also to be able to share feedback fairly and respectfully. </p>

    <h3>History </h3>
    <p>ConnectU was founded on the 24th, April, 2021 and it is from there on that this platform operates as a proprietary owned group. Started by a small group of University students from the University of The West Indies.</p>


{% endblock content %}












